{{ if .Values.sql.runCreationScripts }}
kind: Job
apiVersion: batch/v1
metadata:
  name: sql-create-ersdeveloper-user
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-weight": "-40"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  ttlSecondsAfterFinished: 300
  template:
    spec:
      restartPolicy: Never
      imagePullSecrets:
        - name: regcred
      containers:
        - name: initial-creator
          image: ghcr.io/travelaps/mssql2019fts:v2
          command:
            - /opt/mssql-tools/bin/sqlcmd
          args:
            - '-S'
            - {{ .Values.sql.connection.server }},{{ .Values.sql.connection.port }}
            - '-U'
            - {{ .Values.sql.connection.user }}
            - '-P'
            - {{ .Values.sql.connection.password }}
            - '-Q'
            - |
              INSERT INTO ERSDEVELOPER..ANGUSDEVELOPER(USERCODE,[PASSWORD],[EASYPMSTENANT],[ROLEID],[ROLENAME],[ADMINLEVEL],[LOGINTIME])
              VALUES('{{ .Values.sql.elektraAdminUser.username }}','{{ .Values.sql.elektraAdminUser.password }}','{{ .Values.hotel.hotelid }}',12,'HotelOwner',255,GETDATE())
{{ end }}
